*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.card-container{
    border-radius: 10px;
    background-color: black;
    height: 400px;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.card-container>img{
    height: 40%;
    border-radius: 20px;
}
.card-container>.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: bisque;
}
.page1>.card-container>.button>button{
    background-color: brown;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;

}
#friend{
    color: rgb(227, 243, 5);
    font-size: larger;
}
